<div class="page-header">
    <h1>{{post.title}}<small>{{post.publishDate}}</small></h1>
</div>

<p>{{post.description}}</p>

<hr/>

<h3>Comments</h3>
<input type="text" ng-model="query" placeholder="Filter Comments" />

<ul>
    <li ng-repeat="comment in post.comments | filter: query">
        {{comment.text}}
        <a href="#" confirm-click="Do you want to delete?" confirmed-click="deleteComment(comment)">Delete with confirm</a>
        <!--<a href="#" ng-click="deleteComment(comment)">Delete</a>-->
    </li>
</ul>

<hr/>s
<p style="color: red;" ng-if="reply">{{reply.text}}</p>
<form ng-submit="addReply()">
    <input type="hidden" ng-model="reply.id">
    <textarea class="form-control" ng-model="reply.text"></textarea>
    <input class="btn btn-default" type="submit"/>
</form>