<div> <h1>{{title}}</h1><button ng-click="someClickTest()">Click me!</button></div>

<ul>
    <li ng-repeat="item in items">
        <a href="#" confirm-click="Are you ready?" confirmed-click="goToItem(item)">{{item.title}}</a>
        <!--<a ng-href="/blog/{{item.id}}" confirm-click="Are you ready?" confirmed-click="/blog/{{item.id}}">{{item.title}}</a>-->
        <!--<confirm-click message="Are you positive?" post="item" eq="10+100"></confirm-click>-->
    </li>
</ul>

<span ng-if="items.length == 4">4 items currently</span>